<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../view/partials/navbar.ejs'); %>
    <h1>Dashboard page</h1>
    <h2><%= email%></h2>
    <%- include('../view/partials/footer.ejs'); %>
  </body>
</html>
